# dependencies
/node_modules
.yarn/*
!.yarn/releases/
!.yarn/releases/yarn-3.6.4.cjs

# testing
/coverage

# compiled & builded files
/lib
/build

# misc
.DS_Store

# logs
yarn-debug.log*
yarn-error.log*

# env
.env*